{% extends "base.html" %}

{% block body_class %}property{% endblock %}

{% block title %}Property{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% for l in Location.find() %}
            <div class="thumbnail">
                <img src="http://www.mredllc.com/photos/property/{{l.property_id[-3:]}}/{{l.property_id}}.jpg" alt="">
                <div class="caption">
                    <h4>{{l.name}}</h4>
                    <p><a href="{{url_for('locations.location_property', location=l._id)}}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% for i in range(1, property.PhotosCount) %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="http://www.mredllc.com/photos/property/{{property.ListingId[-3:]}}/{{property.ListingId}}.jpg" alt="">
                    </div>
                    {% for i in range(1, property.PhotosCount) %}
                        <div class="item">
                            <img src="http://www.mredllc.com/photos/property/{{property.ListingId[-3:]}}/{{property.ListingId}}_{{i}}.jpg" alt="">
                        </div>
                    {% endfor %}
                </div>


                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="caption-full">
                <h4 class="pull-right">{{"${:,.2f}".format(property.ListPrice)}}</h4>
                <h4><a href="#">{{property.StreetNumber}} {{property.StreetName}}</a></h4>
                <p>{{property.PublicRemarks}}</p>
            </div>
        </div>
        <div>
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a></li>
                <li role="presentation"><a href="#rosetta" aria-controls="rosetta" role="tab" data-toggle="tab">Rosetta Home</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in active" id="attributes">
                    <dl class="dl-horizontal">
                    {% for k,v in property.iteritems() %}
                        <dt>{{k}}</dt>
                        <dd>{{v}}</dd>
                    {% endfor %}
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rosetta">
                    <h2>CO2</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="/location/{{loc._id}}/interface/NetAtmo"></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photos">Photos</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script type='text/javascript'>
    $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $(".carousel").carousel();
</script>

{% endblock %}
