.main{
    margin-top: 45px;
}

img.brand{
    height: 100%;
}

.dash-chart svg {
    height: 400px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

span.permissions{
    color: blue;
}

body.create_location h1, body.create_location h2{
    padding-bottom: 13px;
    border-bottom: 4px solid #333333;
}

body.create_location h3{
    background-color: #eeeeee;
    padding: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid #999999;
}

a.create{
    font-size: 12px;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

h3.similar{
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 2px solid #cccccc;
}

body.index .thumbnail img{
    max-height: 200px;
    min-height: 200px;
    width: auto;
}


body.index .thumbnail .caption p{
    height: 100px;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.rosetta-home-widget{
    border: 0;
    width: 100%;
    height: 650px;
}

body.index .thumbnail a:hover{
    text-decoration: none;
}
