{% extends "locations/widgets/widget.html" %}

{% block content %}

<style>
    html, body{
        height: 90%;
    }

    #charts{
        height: 100%;
    }
</style>
<div id="charts">
    <h4>CO<sub>2</sub>(ppm)</h4>
    <div id="co2">
        <svg></svg>
    </div>
    <h4>Temperature & Power</h4>
    <div id="temperature">
        <svg></svg>
    </div>
    <h4>Power & Cost</h4>
    <div id="cost">
        <svg></svg>
    </div>
    <h4>Humidity</h4>
    <div id="humidity">
        <svg></svg>
    </div>
</div>



<script>
var domain = [
    {% for i in data.get('netatmo.indoor.co2', {}).get('historical', []) %}
        new Date("{{i.time}}"),
    {% endfor %}
];
var ticks = [];
for(var i=0; i<domain.length; i+=3){
    ticks.push(domain[i]);
}
ticks.push(domain[domain.length-1]);

nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.time })    //Specify the data accessors.
        .y(function(d) { return d.value.toFixed(2) })
        .tooltips(true)        //Don't show tooltips
        .transitionDuration(350)
        .forceY([0, 1000])
        .color(function(d){
            if(d.value > 500) return "#bc5c55";
            return "#547cbe";
        })

    chart.xAxis
        .tickValues(ticks)
        .tickFormat(
            function(d){
                return d3.time.format("%m/%d")(d)
            }
        )
        .rotateLabels(-45)

    d3.select('#co2 svg').datum(co2_data).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

nv.addGraph(function() {
    var chart = nv.models.linePlusBarChart()
        .x(function(d) { return d.time })    //Specify the data accessors.
        .y(function(d) { return parseFloat(d.value.toFixed(2)) })
        .showLegend(false)

    chart.xAxis
        .tickValues(ticks)
        .tickFormat(
            function(d){
                return d3.time.format("%m/%d")(new Date(d))
            }
        )
        .rotateLabels(-45)

    //  chart.bars.forceY([0]);

    d3.select('#temperature svg')
        .datum(temperature_data)
        .transition()
        .duration()
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

nv.addGraph(function() {
    var chart = nv.models.linePlusBarChart()
        .x(function(d) { return d.time })    //Specify the data accessors.
        .y(function(d) { return parseFloat(d.value.toFixed(2)) })
        .showLegend(false)

    chart.xAxis
        .tickValues(ticks)
        .tickFormat(
            function(d){
                return d3.time.format("%m/%d")(new Date(d))
            }
        )
        .rotateLabels(-45)

    //  chart.bars.forceY([0]);

    d3.select('#cost svg')
        .datum(cost_data)
        .transition()
        .duration()
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

nv.addGraph(function() {
    var chart = nv.models.multiBarChart()
        .transitionDuration(350)  //how fast do you want the lines to transition?
        .x(function(d) { return d.time })    //Specify the data accessors.
        .y(function(d) { return d.value.toFixed(2) })
        .showControls(false);

    chart.xAxis
        .tickValues(ticks)
        .tickFormat(
            function(d){
                return d3.time.format("%m/%d")(new Date(d))
            }
        )
        .rotateLabels(-45)

    d3.select('#humidity svg').datum(humidity_data).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

function co2_data(){
    return [
        {
            key: "CO2",
            values:[
                {% for i in data.get('netatmo.indoor.co2', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        }
    ];
}

function temperature_data(){
    return [
        {
            key: "Indoor",
            values:[
                {% for i in data.get('netatmo.indoor.temperature', {}).get('historical', []) %}
                    {
                        value:{{(i.value*1.8)+32}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        },
        {
            key: "Outdoor",
            values:[
                {% for i in data.get('netatmo.outdoor.temperature', {}).get('historical', []) %}
                    {
                        value:{{(i.value*1.8)+32}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        },
        {
            key:"Power",
            bar: true,
            values:[
                {% for i in power.get('energy.smartmeter.power', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        }
    ];
}

function cost_data(){
    return [
        {
            key:"Cost",
            values:[
                {% for i in cost.get('energy.utility.price', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        },
        {
            key:"Power",
            bar: true,
            values:[
                {% for i in power.get('energy.smartmeter.power', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        }
    ];
}


function humidity_data(){
    return [
        {
            key: "Indoor",
            values:[
                {% for i in data.get('netatmo.indoor.humidity', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        },
        {
            key: "Outdoor",
            values:[
                {% for i in data.get('netatmo.outdoor.humidity', {}).get('historical', []) %}
                    {
                        value:{{i.value}},
                        time:new Date("{{i.time}}"),
                    },
                {% endfor %}
            ]
        }
    ];
}

</script>

{% endblock %}
