{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome {{current_user.name}}</h1>
    <h2>Come see the <a href="/fe">dashboard</a></h2>
    <h3>Clients</h3>
    <ul>
        {% for c in client.find() %}
            <li>{{c.name}}: {{c._id}}</li>
        {% endfor %}
    </ul>
    <h3>Locations - <a class='create' href="{{url_for('locations.create_location')}}">Create</a></h3>
    <ul>
        {% for c in location.find() %}
            <li>
                {{c.name}}
                <a href="{{url_for('locations.location', id=c._id)}}">Edit</a>&nbsp;
                <a href="{{url_for('locations.location_property', location=c._id)}}">Listing</a>
            </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    try{
        var access_token = window.location.href.split("access_token=")[1].split("&")[0];
        var error = window.location.href.split("error=")[1];
        window.opener.postMessage({access_token:access_token, error: error}, "*");
        window.close();
    }catch(e){
        console.log(e);
    }
</script>
{% endblock %}
