{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body_class %}index{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Locations</h3>
        {% for loc in location.find() %}
            {% if loc.property_id %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{{url_for('locations.location_property', location=loc._id)}}">
                        <img src="http://www.mredllc.com/photos/property/{{loc.property_id[-3:]}}/{{loc.property_id}}.jpg" alt="">
                        <div class="caption">
                            <h4>{{loc.mls.StreetNumber}} {{loc.mls.StreetName}}</h4>
                            <p>{{loc.mls.PublicRemarks}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% else %}
            <a href="{{url_for('locations.location', id=loc._id)}}">FIX {{loc.name}}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <h3>True Cost of Living Comparison</a></h3>
        <div class="col-md-12">
            <table class='table tablesorter' id='tlc'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Zipcode</th>
                        {% for k,v in largest[0:5] %}
                            <th>{{k}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for l in location.find() %}
                    {% if l.property_id %}
                    <tr>
                        <td>{{l.mls.StreetNumber}} {{l.mls.StreetName}}</td>
                        <td>{{l.zipcode}}</td>
                        {% for k,v in largest[0:5] %}
                            <td>${{l.tlc.get(k)}}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    try{
        var access_token = window.location.href.split("access_token=")[1].split("&")[0];
        var error = window.location.href.split("error=")[1];
        window.opener.postMessage({access_token:access_token, error: error}, "*");
        window.close();
    }catch(e){
        console.log(e);
    }
    $(document).ready(function() {
        $("#tlc").tablesorter();
    }
);
</script>
{% endblock %}
